.art_category {
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}
.art_category h3 {
	font-size: 14px;
	text-align: left;
}
.art_category > div {
	overflow: auto;
	margin-left: 20px;
}
.art_category .name a {
	font-size: 13px;
	font-weight: bold;
	color: #333;
}
.articles-info {
	overflow: hidden;
	margin-bottom: 20px;
}
/*.articles-info .image {
	float: left;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid #E7E7E7;
}*/
.articles-info .image{
	display:none;
}
.articles-info p {
	margin: 0px;
}
.articles-list {
	padding-top: 20px;
	text-align: justify;
    width: 80%;
}
.articles-list > div {
	overflow: auto;
	margin-bottom: 15px;
}
.articles-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.articles-list .image {
	float: left;
	margin-right: 10px;
}
.articles-list .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.articles-list .name {
	margin-bottom: 5px;
}
.articles-list .name a {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.articles-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #333;
}

#articles .box-articles > ul > li ul {
	display: inline;
	margin-left:20px;
	list-style-type:none;
}

#articles .box-articles ul {
	list-style-type:none;
	margin-left: 20px;
}

#articles .box-articles > ul > li a, #articles .box-articles > ul > li ul > li a {
	line-height: 12px; 
	color: #333; 
	font-size: 14px !important; 
	font-family: Verdana; 
	font-weight: bold; 
	padding-left: 0px; 
	text-decoration: none;
}

#articles .box-articles > ul > li a:hover {
	color: #444; 
	text-decoration: underline;
}

#articles .box-articles > ul > li ul > li a {
	font-weight: normal; 
	font-size: 13px !important; 
}

#articles .box-articles > ul > li a > span {
	display: inline-block;
	width: 9px; 
	font-weight: normal;
}

#articles .box-articles > ul > li ul > li a > span {
	display: inline-block;
	width: 15px; 
	font-weight: normal;
}
#content > div {
    margin-left: 134px;
    margin-top: 20px;
}
#content > h1 {
    margin-left: 134px;
}
#main > div {
    width: 95%;
}
.articles-info .image {
    margin-bottom: -70px;
    margin-left: 330px;
    margin-top: -80px;
    padding: 5px;
}